<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <center>
            <h4>
                <%= text %>
            </h4>
        </center>
        <class class="row mt-4">

            <div class="col-4">
                <div class="card" style="width:100%">
                    <img src="<%= im1 %> " alt="" srcset="">
                </div>
                


            </div>
            <div class="col-8">
                <h4>
                    <%= ten1 %>
                </h4>
                <h5>
                    <%= tjp1 %>
                </h5>



                <p>Address URL:<br>
                    <%= lk1 %>
                </p>
                <a href="<%= lk1 %>" rel="noopener noreferrer">Page Current</a>

                <a href="<%= lk1 %>" target="_blank">New Tap</a>
                <br>
                <h3>Discription</h3>
                <p>
                    <%= den1 %>
                </p>
                <br>
                <p>
                    <%= dit1 %>
                </p>

            </div>
            

        </div>
    </div>

    
    <!-- <a href="<%= text %>">asdasd</a> -->

</body>

</html>